#div4{
	width: 1190px;
	background: #F8F8F8;
	margin: 0px auto ;
}
#div4_top{
	width: 100%;
	height: 694px;
	background: greenyellow;
}
#div4_top_1{
	width: 1190px;
	height: 44px;
	background-color: rgb(190, 164, 116);
	background-image: linear-gradient(to right, rgb(194, 176, 142) 3%, rgb(190, 164, 116) 100%);
	border-radius:5px 5px 0px 0px ;
	font-size: 14px;
	color: #fff;
	line-height: 44px;
	border-top-left-radius:5px ;
	border-top-right-radius: 5px;
}
#div4_top_1>span{
	margin-left:4px ;
}
#div4_top_1>span:nth-child(1){
	font-size: 18px;
	margin-left: 13px;
	margin-right: 10px;
	font-family: "楷体";
	float:left ;
	padding: 0 5px;
	position: relative;
	line-height: 44px;
	text-align: left;
}
/*#div4_top_1>span:nth-child(2){
	float:left ;
	padding: 0 5px;
	position: relative;
	font-size: 14px;
	line-height: 44px;
}
#div4_top_1>span:nth-child(3){
	float:left ;
	padding: 0 5px;
	position: relative;
	font-size: 14px;
	line-height: 44px;
}
#div4_top_1>span:nth-child(4){
	float:left ;
	padding: 0 5px;
	position: relative;
	font-size: 14px;
	line-height: 44px;
}
#div4_top_1>span:nth-child(5){
	float:left ;
	padding: 0 5px;
	position: relative;
	font-size: 14px;
	line-height: 44px;
}
#div4_top_1>span:nth-child(6){
	float:left ;
	padding: 0 5px;
	position: relative;
	font-size: 14px;
	line-height: 44px;
}*/
#div4_top_2{
	width: 1188px;
	height: 650px;
	background: white;
	border: 1px solid rgba(0,0,0,0.2);
	border-top:none ;
}
#div4_top_2_1{
	width: 33.3%;
	height: 314px;
	float:left ;
	background: #fff;
	box-sizing: border-box;
	padding: 10px;
}
#div4_top_2_1_2{
	font-size: 16px;
	color: #222222;
	height: 22px;
	margin-bottom: 8px;
	font-weight: 500;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_1_3{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
	height: 18px;
	margin-bottom: 7px;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_1_4>span:nth-child(1){
	font-size: 14px;
	color: #BE9E4D;
	font-weight: 500;
	margin-right: 0px;
}
#div4_top_2_1_4>span:nth-child(2){
	font-size: 22px;
	color: #BE9E4D;
	margin-right: 6px;
	letter-spacing: -0.8px;
	margin-left: 0px;
}
#div4_top_2_1_4>span:nth-child(3){
	font-size: 12px;
	color: #999999;
	text-decoration: line-through;
}
#div4_top_2_1_4>span:nth-child(4){
	font-size: 12px;
	color: #999999;
	float: right;
	margin-top: 10px;
}
#div4_top_2_2{
	width: 33.3%;
	height: 314px;
	float:left ;
	background: #fff;
	box-sizing: border-box;
	padding: 10px;
}
#div4_top_2_2_2{
	font-size: 16px;
	color: #222222;
	height: 22px;
	margin-bottom: 8px;
	font-weight: 500;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_2_3{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
	height: 18px;
	margin-bottom: 7px;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_2_4>span:nth-child(1){
	font-size: 14px;
	color: #BE9E4D;
	font-weight: 500;
	margin-right: 0px;
}
#div4_top_2_2_4>span:nth-child(2){
	font-size: 22px;
	color: #BE9E4D;
	margin-right: 6px;
	letter-spacing: -0.8px;
	margin-left: 0px;
}
#div4_top_2_2_4>span:nth-child(3){
	font-size: 12px;
	color: #999999;
	text-decoration: line-through;
}
#div4_top_2_2_4>span:nth-child(4){
	font-size: 12px;
	color: #999999;
	float: right;
	margin-top: 10px;
}
#div4_top_2_3{
	width: 33.4%;
	height: 314px;
	float:left ;
	background: #fff;
	box-sizing: border-box;
	padding: 10px;
}
#div4_top_2_3_2{
	font-size: 16px;
	color: #222222;
	height: 22px;
	margin-bottom: 8px;
	font-weight: 500;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_3_3{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
	height: 18px;
	margin-bottom: 7px;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_3_4>span:nth-child(1){
	font-size: 14px;
	color: #BE9E4D;
	font-weight: 500;
	margin-right: 0px;
}
#div4_top_2_3_4>span:nth-child(2){
	font-size: 22px;
	color: #BE9E4D;
	margin-right: 6px;
	letter-spacing: -0.8px;
	margin-left: 0px;
}
#div4_top_2_3_4>span:nth-child(3){
	font-size: 12px;
	color: #999999;
	text-decoration: line-through;
}
#div4_top_2_3_4>span:nth-child(4){
	font-size: 12px;
	color: #999999;
	float: right;
	margin-top: 10px;
}
#div4_top_2_4{
	width: 33.3%;
	height: 314px;
	float:left ;
	background: #fff;
	box-sizing: border-box;
	padding: 10px;
}
#div4_top_2_4_2{
	font-size: 16px;
	color: #222222;
	height: 22px;
	margin-bottom: 8px;
	font-weight: 500;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_4_3{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
	height: 18px;
	margin-bottom: 7px;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_4_4>span:nth-child(1){
	font-size: 14px;
	color: #BE9E4D;
	font-weight: 500;
	margin-right: 0px;
}
#div4_top_2_4_4>span:nth-child(2){
	font-size: 22px;
	color: #BE9E4D;
	margin-right: 6px;
	letter-spacing: -0.8px;
	margin-left: 0px;
}
#div4_top_2_4_4>span:nth-child(3){
	font-size: 12px;
	color: #999999;
	text-decoration: line-through;
}
#div4_top_2_4_4>span:nth-child(4){
	font-size: 12px;
	color: #999999;
	float: right;
	margin-top: 10px;
}
#div4_top_2_5{
	width: 33.3%;
	height: 314px;
	float:left ;
	background: #fff;
	box-sizing: border-box;
	padding: 10px;
}
#div4_top_2_5_2{
	font-size: 16px;
	color: #222222;
	height: 22px;
	margin-bottom: 8px;
	font-weight: 500;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_5_3{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
	height: 18px;
	margin-bottom: 7px;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_5_4>span:nth-child(1){
	font-size: 14px;
	color: #BE9E4D;
	font-weight: 500;
	margin-right: 0px;
}
#div4_top_2_5_4>span:nth-child(2){
	font-size: 22px;
	color: #BE9E4D;
	margin-right: 6px;
	letter-spacing: -0.8px;
	margin-left: 0px;
}
#div4_top_2_5_4>span:nth-child(3){
	font-size: 12px;
	color: #999999;
	text-decoration: line-through;
}
#div4_top_2_5_4>span:nth-child(4){
	font-size: 12px;
	color: #999999;
	float: right;
	margin-top: 10px;
}
#div4_top_2_6{
	width: 33.4%;
	height: 314px;
	float:left ;
	background: #fff;
	box-sizing: border-box;
	padding: 10px;
}
#div4_top_2_6_2{
	font-size: 16px;
	color: #222222;
	height: 22px;
	margin-bottom: 8px;
	font-weight: 500;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_6_3{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
	height: 18px;
	margin-bottom: 7px;
	white-space: nowrap;
	text-align: left;
}
#div4_top_2_6_4>span:nth-child(1){
	font-size: 14px;
	color: #BE9E4D;
	font-weight: 500;
	margin-right: 0px;
}
#div4_top_2_6_4>span:nth-child(2){
	font-size: 22px;
	color: #BE9E4D;
	margin-right: 6px;
	letter-spacing: -0.8px;
	margin-left: 0px;
}
#div4_top_2_6_4>span:nth-child(3){
	font-size: 12px;
	color: #999999;
	text-decoration: line-through;
}
#div4_top_2_6_4>span:nth-child(4){
	font-size: 12px;
	color: #999999;
	float: right;
	margin-top: 10px;
}
